__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
build/
!resources/pet/receptor-abundance-react/build/
!resources/pet/receptor-abundance-react/build/README.md
dist/
*.tmp
.DS_Store
Thumbs.db
